
html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

:root {
    /*Mode clair*/
    --couleur-fond-general: #e7ecff;   
    --couleur-bordure-haut: #000000;
    --couleur-fond-bas: rgba(0, 0, 0,0.75);
    --couleur-texte: #000000;
    --couleur-zone-lecture: #ffffff;
    --couleur-zone-lecture-framacodim: #f1c3c3;
}


:root[data-theme="dark"] {
    /*Mode sombre*/
    --couleur-fond-general: #24242e;   
    --couleur-bordure-haut: #ffffff;
    --couleur-fond-bas: rgba(255, 255, 255, 0.75);
    --couleur-texte: #ffffff;
    --couleur-zone-lecture: #000000;
    --couleur-zone-lecture-framacodim: #462206;
}

body {
    background-color: var(--couleur-fond-general);
    background-repeat: repeat-x, no-repeat;
    background-position: bottom, center;
    background-size: 300px, cover;
    transition: background-color 0.3s linear;
}

body.openboard {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 3px solid #000000;
    background: #ffffff;
}

#haut {
    height: 180px;
    /*border-bottom: 3px solid var(--couleur-bordure-haut);*/
    display: flex;
    flex-direction: row;
    position: relative;   
}

body.openboard>#haut {
    border-bottom: 3px solid #000000;
}



#educajou {
    height: 75px;
    width: 75px;
    margin: 5px;
    position: relative;
    z-index: 1000;
}



#outils {
    flex: 1;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0px;

}

#outils span {
    font-size: 24px;
    color: var(--couleur-texte);
}

#temps-lecture {
    border: 2px solid var(--couleur-texte);
    border-radius: 5px;
    margin-left: 10px;
    padding: 3px;
}

#outils button, #outils input {
    box-sizing: border-box;
    margin: 5px 5px 5px 0px ;
    width: 70px;
    height: 70px;
    padding: 0;
    outline: none;
    border-width: 3px;
    border-radius: 3px;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    vertical-align: middle;
}

#outils input {
    font-size: 32px;
    vertical-align: middle;
    width: 3em;
    text-align: center; 
}

#outils input {
    background-color: #e5e8f3;
}

#input-vitesse-lecture {
    position: relative;
}


#outils button:hover {
    background-color: #f8f8f9;
}

.color-button {
    display: inline-block;
    width: 52px;
    height: 52px;
    padding: 5px;
    border: 3px inset #ccc;
    margin-right: 5px;
    vertical-align: middle;
    border-radius: 3px;
}




#bouton-panneau {
    width: 70px;
    height: 70px;
    margin: 5px;
    margin-left: auto;
    background-color: transparent;
    border: none;
    outline: none;
    background-image: url(images/menu.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
}

#panneau {
    position: absolute;
    width: 250px;
    border-color: #ffffff;
    border-style: solid;
    border-width: 3px 0px 3px 3px;
    border-radius: 15px 0px 0px 15px;
    height: calc(100% - 42px);
    right: -273px;
    top: 10px;
    background-color: #4674f3;
    z-index: 10000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    transition: right 0.2s ease;
    padding: 10px;
    box-shadow: 0px 0px 10px inset #525252;
    overflow-y: scroll;
    text-align: center;
}



.zone-option {
    position: relative;
    text-align: center;
    border: 2px #fff solid;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    margin: 10px;    
}

.zone-option h1 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: bold;

}

.zone-option p {
    text-align: left;
    margin-left: 10px;
}

.zone-option p label {
    margin-left: 5px;
}

.element-outils {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    margin: 5px;
}

#zone-texte {
    position: relative;
    width: calc(100% - 200px);
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background-color: var(--couleur-fond-bas);
    overflow-y: scroll;
    font-size: 48px;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s linear;
}

#zone-texte::after {
    content: '';
    position: fixed;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    width: var(--after-width);
    height: 4.5em;
    background-color: var(--couleur-zone-lecture);
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 0 10px 10px var(--couleur-zone-lecture);
    transition: background-color 0.3s linear, box-shadow 0.3s linear;
}

#zone-texte.horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
    width: auto;
    white-space: nowrap;
}

#voile {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#conteneur {
    background-color: var(--couleur-zone-lecture);
    width: 100%;
    height: calc(100% - 180px);
    overflow: hidden;
    position: relative;
}

#zone-saisie {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    margin: 10px;
    text-align: center;
    
    
}



#entree-texte {
    width: calc(100% - 40px);    
    height: calc(100% - 240px);
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--couleur-bordure-haut);
    color: var(--couleur-texte);
    background-color: var(--couleur-zone-lecture);
    overflow-y: auto;
    resize: none;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    transition: font-size 0.2s linear, background-color 0.3s linear, color 0.3s linear;
    border-radius: 10px;
}

.framacodim #entree-texte {
    background-color: var(--couleur-zone-lecture-framacodim);
}

#bouton-commencer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    margin-top: 20px;
}

#bouton-copier-lien {
    background-image: url(images/copielien.svg);
}
.framacodim #bouton-copier-lien {
    background-image: url(images/copielien-framacodim.svg);
}


#bouton-qrcode {
    background-image: url(images/qrcode.svg);
}

.framacodim #bouton-qrcode {
    background-image: url(images/qrcode-framacodim.svg);
}


#texte {
    color: var(--couleur-texte);
    font-size: inherit;
    line-height: inherit;
    text-align: left;
    font-family: inherit;
    padding-top: 120px;
    padding-bottom: calc(100vh - 300px - 4.5em);
    margin: 0px 20px 0px 20px;
    transition: font-size 0.5s linear, color 0.3s linear, background-color 0.3s linear;
    position: relative;
    z-index: 3;
}

#zone-texte.horizontal>#texte{
    width: fit-content;
    padding-top: calc(120px + 1.5em);
    padding-left: 100px;
    padding-right: 100px;
}

#reglage-largeur {
    position: fixed;
    top: 155px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    z-index: 500;
}

#reglages {
    margin: auto;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
    border: 3px solid #000000;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #ffffff;    
}

.reglage * {
    display: block;
    text-align: center;
}

#reglages button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 40px;
    margin-right: 10px;   
}

#reglages input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 80px;
    height: 40px;
    margin-right: 10px;
    text-align: center; 
}



#bouton-apropos {
     
     padding: 10px; /* marge intérieure de 10px, utile en cas de bouton à texte uniquement */
   
  
    /* Coins arrondis  */
     border-radius: 10px;


   }

   
 
   #darkbox {
    /* Elle doit prendre toute la largeur et toute la hauteyr  */
      position: fixed;
      z-index: 999; /* O la place sous la lightbox */
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background-color: rgba(0,0,0,0.5);
    }
    
.lightbox {
    position: fixed;
    z-index:2000;
    top: 50%;
    left: 50%;
    width: 70vmin;
    height: 70vmin;
    border: 5px solid black;
    transform: translateX(-50%) translateY(-50%);
    background-color:#ffffff;
    border-radius: 2vmin;
    overflow-y: scroll;
    padding: 5px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: all;
    }

.lightbox button {
    font-size: 24px;
    margin: 3px;
  }    
    
    .lightbox h1 { /* Le titre */
      font-family: Arial, Helvetica, sans-serif;
      font-size: 36px;
      min-height: 36px;
      margin: 10px;
      text-align: center;
    }
    
    .contenu-lightbox {
      flex: 1;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      overflow-y: auto;
      text-align: left;
      width: fit-content;
      margin: auto;
    }

    .contenu-lightbox img {
        max-width: 100%;
        border-radius: 10px;
    }
    
    .bouton-fermer {
      position : fixed;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      background-image: url(images/bouton_fermer.svg);
      background-size: contain;
      background-color: transparent;
      border: none;
      outline: none;
    }

    .bouton-options {
        position : fixed;
        top: 10px;
        left: 10px;
        width: 50px;
        height: 50px;
        background-image: url(images/options.svg);
        background-size: contain;
        background-color: transparent;
        border: none;
        outline: none;
      }

      
.zone {
margin: 30px;
text-align: center;
}

#zone-lien {
background-color: rgb(190, 242, 235);
border: 1px solid #000;
padding: 10px;
vertical-align: middle;
}


#zone-qrcode img {
display: inline-block !important;
}

#div-qrcode {
    height: auto;
    width: calc(100% - 40px);
    max-width: 600px;
    padding: 0;
  }
  
#div-qrcode img, #div-qrcode canvas {
width: calc(100% - 20px) !important;
}

.zone h1 {
margin: 0;
font-family: Open Dyslexic;
}
      
#entete-qrcode {
    margin: 0;
    padding-right: 2px;
    border: 0px;
    height: 40px;
    text-align: right;
    background-color: #6bdcfe;
  }
  
  #pied-qrcode {
    margin: 0;
    padding-right: 2px;
    border: 0px;
    height: 60px;
    text-align: center;
    background-color: #6bdcfe;
  }
  
  #bouton-telecharger-qrcode {
    background-color: #ADD8E6;
    padding: 10px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;  
  }
  
  #bouton-telecharger-qrcode:hover {
    background-color: #6bdcfe;  
  }
  
  #bouton-fermer-qrcode {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    
  }
  
  /* Styles pour les dispositifs en mode paysage */
  @media only screen and (orientation: landscape) {
  
    #div-qrcode {
      width: auto;
      height: 95vh;
      max-height: 600px;    
      padding: 0;
    }
  
    #zone-qrcode {
      height: calc(100% - 100px) !important;
      width: auto !important;
    }
  
    #zone-qrcode canvas {
      height: 100% !important;
      width: auto !important;
    }
  }
  
  #blur {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  
  }
  
  /* Styles pour les dispositifs en mode portrait */
  @media only screen and (orientation: portrait) {
  
    #div-qrcode {
      height: auto;
      width: 95vw;
      max-width: 600px;    
      padding: 0;
    }
  
    #zone-qrcode {
      width: 100% !important;
      height: auto !important;
    }
  
    #zone-qrcode canvas {
      width: 100% !important;
      height: auto !important;
    }
  }

  #popup {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.loader {
    border: 8px solid #f3f3f3; /* Couleur de la bordure */
    border-top: 8px solid #3498db; /* Couleur de la partie supérieure */
    border-radius: 50%; /* Rendre la bordure ronde */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animation de rotation */
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px; /* Ajuster la position verticalement */
    margin-left: -25px; /* Ajuster la position horizontalement */
    z-index: 9999; /* Assurer que la roue d'attente est au-dessus de tout le reste */
}

#div-import {
    height: auto;
    text-align: center;
}

#input-import {
    font-size: 24px;
    width: calc(100% - 10px);
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

 .hide {
     display: none !important; /* Les objets de classe hide sont masqués */
 }
   
 .hidden {
     display: none;
 }


 /* Styliser les boutons désactivés */
button:disabled {
    cursor: not-allowed; /* Changer le curseur */
    position: relative;
}

button:disabled::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #ffffff78;
}

.titre-reglage {
    color: #ffffff;
    font-weight: bold;
}